In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [2]:
data = pd.read_csv("C:/Users/Gigabyte/dataCsv/movie_bd_v5.csv")
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
211,tt3322940,6500000,255273813,Annabelle,Annabelle Wallis|Alfre Woodard|Eric Ladin|Tony...,John R. Leonetti,"Before the Conjuring, there was Annabelle.",John Form has found the perfect gift for his e...,99,Horror,New Line Cinema|The Safran Company|Evergreen M...,10/2/2014,5.6,2014
736,tt1499658,35000000,117000000,Horrible Bosses,Jennifer Aniston|Jason Bateman|Charlie Day|Jas...,Seth Gordon,Ever wish your boss was dead?,"For Nick (Jason Bateman), Kurt (Jason Sudeikis...",98,Comedy|Crime,New Line Cinema|Rat Entertainment,7/8/2011,6.4,2011
891,tt0281358,11000000,41227069,A Walk to Remember,Mandy Moore|Shane West|Peter Coyote|Daryl Hann...,Adam Shankman,She didn't belong. She was misunderstood. And ...,"When the popular, restless Landon Carter is fo...",101,Drama|Family|Romance,Pandora Pictures|Warner Bros.,1/25/2002,7.3,2002
1794,tt0367959,50000000,82169884,Hannibal Rising,Gaspard Ulliel|Aaran Thomas|Gong Li|Dominic We...,Peter Webber,It started with revenge.,"The story of the early, murderous roots of the...",121,Crime|Drama|Thriller,Ingenious Film Partners|ETIC Films|Quinta Comm...,2/6/2007,6.0,2007
1097,tt0283426,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,5.6,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
#...

# We need to add a profit column. Profit = revenue - budget
data["profit"] = data.revenue - data.budget

# Function to count genres. Has parameter: most popular genre
def genres_function(data, most_popular=False):
    genres_count = {}
    
    if most_popular:
        separated_genres = "|".join(list(data.genres)).split("|")
        for genre in separated_genres:
            
            if genre in genres_count:
                genres_count[genre] += 1
            else:
                genres_count[genre] = 1
                
            if len(genres_count) == 1:
                last_genre = genre
            elif genres_count[last_genre] < genres_count[genre]:
                last_genre = genre
                
        return last_genre

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# +
answers["1"] = "723. Pirates of the Caribbean: On Stranger Tides (tt1298650)"
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values("budget", ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 3

In [8]:
data.query("budget == budget.max()")

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
# +
answers["2"] = "1157. Gods and Generals. (tt0279111)"

In [10]:
data.query("runtime == runtime.max()")

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
# +
answers["3"] = "768. Winnie the Pooh. (tt1449283)"

In [12]:
data.sort_values("runtime").head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [13]:
# +
answers["4"] = "110"

In [14]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
# +
answers["5"] = "107"

In [16]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# +
answers["6"] = "239. Avatar. (tt0499549)"

In [18]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.query("profit == profit.max()")

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [19]:
# +
answers["7"] = "1245. The Lone Ranger. (tt1210819)"

In [20]:
data.sort_values("profit").head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
# +
answers["8"] = "1478"

In [22]:
len(data.query("profit > 0"))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
# +
answers["9"] = "599. The Dark Knight. (tt046569)"

In [24]:
data[data.release_year == 2008].sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
# +
answers["10"] = "1245. The Lone Ranger. (tt1210819)"

In [26]:
data.query("2012 <= release_year <= 2014").sort_values("profit").head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

ВАРИАНТ 2

In [27]:
temp_data = data.query("2012 <= release_year <= 2014")
temp_data[temp_data.profit == temp_data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [28]:
# +
answers["11"] = "Drama"

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
list_data = "|".join(list(data.genres)).split("|")
cnt = Counter(list_data)
cnt.most_common()[0]

('Drama', 782)

ВАРИАНТ 2

In [30]:
genres_function(data, most_popular=True)

'Drama'

ВАРИАНТ 3

In [31]:
all_genres = set("|".join(list(data.genres)).split("|"))
temp_max = 0

for genre in all_genres:
    temp_0 = len(data[data.genres.str.contains(genre)])
    if temp_max < temp_0:
        temp_max = temp_0
        most_common_genre = genre

most_common_genre

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
# +
answers["12"] = "Drama"

In [33]:
profit_data = data[data.profit > 0]
genres_function(profit_data, most_popular=True)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
# +
answers["13"] = "Peter Jacson"

In [35]:
directors = set("|".join(list(data.director)).split("|"))
directors_dict = {}

for director in directors:
    data[data.director.str.contains(director)]
    profit_all = list(data[data.director.str.contains(director)].profit)
    profit_sum = list(itertools.accumulate(profit_all))[-1]
    directors_dict[director] = profit_sum
    
    
cnt_directors = Counter(directors_dict)
cnt_directors.most_common()[0]

('Peter Jackson', 5202593685)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
# +
answers["14"] = "Robert Rodriguez"

In [37]:
directors_dict = {}
action_data = data[data.genres.str.contains("Action")]
directors_14 = set("|".join(list(action_data.director)).split("|"))

for director in directors_14:
    count_action = len(action_data[action_data.director.str.contains(director)])
    directors_dict[director] = count_action
    
cnt_directors = Counter(directors_dict)
cnt_directors.most_common()[0]

('Robert Rodriguez', 9)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
# +
answers["15"] = "Chris Hemsworth"

In [39]:
data_year_2012 = data.query("release_year == 2012")
actors_2012 = set("|".join(list(data_year_2012.cast)).split("|"))
actor_dict = {}

for actor in actors_2012:
    actor_revenue = list(data_year_2012[data_year_2012.cast.str.contains(actor)].revenue)
    revenue_sum = list(itertools.accumulate(actor_revenue))[-1]
    actor_dict[actor] = revenue_sum
    
cnt_actors = Counter(actor_dict)
cnt_actors.most_common()[0]

('Chris Hemsworth', 2027450773)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
# +
answers["16"] = "Matt Damon. 18"

In [41]:
data_big_budget = data.query("budget > budget.mean()")
actors_big_budget = set("|".join(list(data_big_budget.cast)).split("|"))
actor_dict = {}

for actor in actors_big_budget:
    count_films_actor = data_big_budget[data_big_budget.cast.str.contains(actor)]
    actor_dict[actor] = len(count_films_actor)
     
cnt_actors = Counter(actor_dict)
cnt_actors.most_common()[0]

('Matt Damon', 18)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
# +
answers["17"] = "Action"

In [43]:
data_Nic_Cag = data[data.cast.str.contains("Nicolas Cage")]
genre_Nic_Cag = set("|".join(data_Nic_Cag.genres).split("|"))
dict_Nic_Cag = {}

for genre in genre_Nic_Cag:
    genre_count = data_Nic_Cag[data_Nic_Cag.genres.str.contains(genre)]
    dict_Nic_Cag[genre] = len(genre_count)
     
cnt_1 = Counter(dict_Nic_Cag)
cnt_1.most_common()[0]

('Action', 17)

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
# +
answers["18"] = "925. K-19:The Widowmaker. (tt0267626)"

In [45]:
data_18 = data[data.production_companies.str.contains("Paramount Pictures")]
data_18.sort_values("profit").head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
# +
answers["19"] = "2015. 25449202382"

In [47]:
release_year = set(data.release_year)
release_year_dict = {}

for year in release_year:
    all_revenue = data[data.release_year == year].revenue
    sum_revenue = list(itertools.accumulate(all_revenue))[-1]
    release_year_dict[year] = sum_revenue
    
cnt_1 = Counter(release_year_dict)
cnt_1.most_common()[0]

(2015, 25449202382)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
# +
answers["20"] = "2014. 3243064519"

In [50]:
data_WB = data[data.production_companies.str.contains("Warner Bros")]
data_20_dict = {}

for year in release_year:
    all_revenue = data_WB[data_WB.release_year == year].revenue
    sum_revenue = list(itertools.accumulate(all_revenue))[-1]
    data_20_dict[year] = sum_revenue
    
cnt_1 = Counter(data_20_dict)
cnt_1.most_common()[0]

(2014, 3243064519)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
# +
answers["21"] = "9. Сентябрь"

In [51]:
data_month_dict = {}

for month in range(1, 13):
    films_month = data[data.release_date.str.match(str(month)+"/")]
    data_month_dict[month] = len(films_month)
      
cnt_1 = Counter(data_month_dict)
cnt_1.most_common()[0]

(9, 227)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
# +
answers["22"] = "450"

In [53]:
data_summer_dict = {}

for month in range(6, 9):
    films_summer = data[data.release_date.str.match(str(month))]
    data_summer_dict[month] = len(films_summer)

sum_summer_films = list(itertools.accumulate(data_summer_dict.values()))
sum_summer_films[-1]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
# +
answers["23"] = "Peter Jackson. 7"

In [55]:
dict_director_winter = {}
data_winter_director = pd.DataFrame(columns = data.columns)

for month in [12, 1, 3]:
    data_winter_t = data[data.release_date.str.match(str(month)+"/")]
    data_winter_director = pd.concat([data_winter_director, data_winter_t])

director_winter = set("|".join(list(data_winter_director.director)).split("|"))
for director in director_winter:
    films_count = data_winter_director[data_winter_director.director.str.contains(director)]
    dict_director_winter[director] = len(films_count)
    
cnt_directors = Counter(dict_director_winter)
cnt_directors.most_common()[0]

('Peter Jackson', 7)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
# +
answers["24"] = "'Four By Two Productions'"

In [60]:
data_title_dict = {}
data_company_error = {}
companies = set("|".join(data.production_companies).split("|"))

for company in companies:
# Компании у которых в названии есть '()' не учитываются методом contains 
    test_err_trigger = company[-1]
    if test_err_trigger == ")":
        test_err_trigger = company.find("(")
        data_company = data[data.production_companies.str.contains(company[:test_err_trigger])]
    else:
        data_company = data[data.production_companies.str.contains(company)]
        
    title_lenght = len(str("".join(list(data_company.original_title))))
    title_count = len(data_company)
    if title_count != 0:
        data_title_dict[company] = title_lenght / title_count
    else:
        data_company_error[company] = 1
             
cnt_title = Counter(data_title_dict)
print(cnt_title.most_common()[0])
print("Студии которые не были учтены", data_company_error.keys())

('Four By Two Productions', 83.0)
Студии которые не были учтены dict_keys(['Munich Film Partners & Company (MFP) MI2 Productions', 'Parkes+MacDonald Image Nation', 'Canal+Polska', 'Munich Film Partners & Company (MFP) ROE Production', 'Munich Film Partners & Company (MFP) GHS Productions', 'Canal+ EspaÃ±a'])

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [61]:
# +
answers["25"] = "Midnight Picture Show"

In [63]:
data_overview_dict = {}
companies = set("|".join(data.production_companies).split("|"))

for company in companies:
    if company not in data_company_error:
        test_err_trigger = company[len(company)-1]
        if test_err_trigger == ")":
            test_err_trigger = company.find("(")
            data_overview = data[data.production_companies.str.contains(company[:test_err_trigger])].overview
        else:
            data_overview = data[data.production_companies.str.contains(company)].overview

        overview_lenght = len(str("".join(list(data_overview))))
        overview_count = len(data_overview)
        data_overview_dict[company] = overview_lenght/overview_count

cnt_overview = Counter(data_overview_dict)
print(cnt_overview.most_common()[0])
print("Студии которые не были учтены:", data_company_error.keys())

('Midnight Picture Show', 1000.0)
Студии которые не были учтены: dict_keys(['Munich Film Partners & Company (MFP) MI2 Productions', 'Parkes+MacDonald Image Nation', 'Canal+Polska', 'Munich Film Partners & Company (MFP) ROE Production', 'Munich Film Partners & Company (MFP) GHS Productions', 'Canal+ EspaÃ±a'])

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [64]:
# +
answers["26"] = """'Inside Out',
                 'Inside Out',
                 'Spotlight',
                 'Room',
                 'Interstellar',
                 'Guardians of the Galaxy',
                 'Big Hero 6',
                 'The Imitation Game',
                 'Gone Girl',
                 'The Grand Budapest Hotel',
                 'The Theory of Everything',
                 'The Fault in Our Stars',
                 'Mr. Nobody',
                 '3 Idiots',
                 'Inception',
                 'The Lord of the Rings: The Fellowship of the Ring',
                 'The Dark Knight',
                 'The Lord of the Rings: The Two Towers',
                 'The Pianist',
                 'The Lord of the Rings: The Return of the King',
                 'The Wolf of Wall Street',
                 'Her',
                 '12 Years a Slave',
                 'Prisoners',
                 'Dallas Buyers Club',
                 'The Prestige',
                 'Eternal Sunshine of the Spotless Mind',
                 'There Will Be Blood','Inside Out',
                 'Memento'
"""

In [65]:
# +
s = data["vote_average"].value_counts(bins=15, normalize=True)
list(data.loc[
    (data.vote_average>s.index[10].left) &
    (data.vote_average<=s.index[10].right)
].original_title)

['Inside Out',
 'Spotlight',
 'Room',
 'Interstellar',
 'Guardians of the Galaxy',
 'Big Hero 6',
 'The Imitation Game',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'The Theory of Everything',
 'The Fault in Our Stars',
 'Mr. Nobody',
 '3 Idiots',
 'Inception',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Dark Knight',
 'The Lord of the Rings: The Two Towers',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 'Her',
 '12 Years a Slave',
 'Prisoners',
 'Dallas Buyers Club',
 'The Prestige',
 'Eternal Sunshine of the Spotless Mind',
 'There Will Be Blood',
 'Memento']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
# +
answers["27"] = "Rupert Grint & Daniel Radcliffe, 8"

In [70]:
dict_duo = {}
actors = set("|".join(data.cast).split("|"))


for actor in actors:
    data_actor_1 = data[data.cast.str.contains(actor)]
    actors_duo = set("|".join(data_actor_1.cast).split("|"))
    for actor_duo in actors_duo:
        if actor_duo != actor:
            data_duo = data_actor_1[data_actor_1.cast.str.contains(actor_duo)]
            duo = actor + " & " + actor_duo
            dict_duo[duo] = len(data_duo)
    
    
cnt_duo = Counter(dict_duo)
cnt_duo.most_common()[0:7]

[('Daniel Radcliffe & Rupert Grint', 8),
 ('Daniel Radcliffe & Emma Watson', 8),
 ('Emma Watson & Daniel Radcliffe', 8),
 ('Emma Watson & Rupert Grint', 8),
 ('Rupert Grint & Daniel Radcliffe', 8),
 ('Rupert Grint & Emma Watson', 8),
 ('Helena Bonham Carter & Johnny Depp', 6)]

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals. (tt0279111)',
 '3': '768. Winnie the Pooh. (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar. (tt0499549)',
 '7': '1245. The Lone Ranger. (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight. (tt046569)',
 '10': '1245. The Lone Ranger. (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jacson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon. 18',
 '17': 'Action',
 '18': '925. K-19:The Widowmaker. (tt0267626)',
 '19': '2015. 25449202382',
 '20': '2014. 3243064519',
 '21': '9. Сентябрь',
 '22': '450',
 '23': 'Peter Jackson. 7',
 '24': "'Four By Two Productions'",
 '25': 'Midnight Picture Show',
 '26': "'Inside Out',\n                 'Inside Out',\n                 'Spotlight',\n                 'Room',\n                 'Interstellar',\n                 'Guardians of the Galaxy',\n                 'Big Hero 6',\n                 'The Imitation Game',\n                 'Gone Girl',\n                 'The Grand Budapest Hotel',\n                 'The Theory of Everything',\n                 'The Fault in Our Stars',\n                 'Mr. Nobody',\n                 '3 Idiots',\n                 'Inception',\n                 'The Lord of the Rings: The Fellowship of the Ring',\n                 'The Dark Knight',\n                 'The Lord of the Rings: The Two Towers',\n                 'The Pianist',\n                 'The Lord of the Rings: The Return of the King',\n                 'The Wolf of Wall Street',\n                 'Her',\n                 '12 Years a Slave',\n                 'Prisoners',\n                 'Dallas Buyers Club',\n                 'The Prestige',\n                 'Eternal Sunshine of the Spotless Mind',\n                 'There Will Be Blood','Inside Out',\n                 'Memento'\n",
 '27': 'Rupert Grint & Daniel Radcliffe, 8'}

In [69]:
# и убедиться что ни чего не пропустил)
len(answers)

27